<!--<img src="/img/a-user-id.png" alt="User profile mockup image" />--!>


IF USER:
//if there is a user session online, you display logout
<a href="/user/userhome/">User Home</a>
<a href="/user/logout">Logout</a>
<a href="/user/about/">About</a>
<a href="/user/team/">Team</a><br>

IF ADMIN:
<a href="/user/admin/">Admin Home</a>
<a href="/user/userhome/">User Home</a>
<a href="/user/logout">Logout</a>
<a href="/user/about/">About</a>
<a href="/user/team/">Team</a><br>

IF VISITOR:
<a href="/user/splash">Home</a>
<a href="/user/signup/">Sign up</a>
<a href="/user/about/">About</a>
<a href="/user/team/">Team</a><br>

<h1>Thanks for visiting my FoundIt page!</h1>
<p>Please contact me using the information provided below:</p>
<div>{{message}}</div><br>

<table>
  <tr>
    <td>
      Name:
    </td>
    <td>
      {{name}}
    </td>
  </tr>
  <tr>
    <td>
      Phone:
    </td>
    <td>
      {{phone}}
    </td>
  </tr>
  <tr>
    <td>
      Email:
    </td>
    <td>
      {{email}}
    </td>
  <tr>
  </tr>
</table>