{{#if isAdmin}}
    <a href="/user/admin/">Admin Home</a>
{{/if}}

{{#if isLoggedIn}}
    <a href="/user/userhome/">User Home</a>
    <a href="/user/logout">Logout</a>
{{else}}
    <a href="/">Home</a>
{{/if}}

<a href="/user/team/">Team</a>


<h2>The free and easy solution to all lost items! </h2>

<h3>Foundit helps strangers return your lost items. When you sign up, you are given a unique URL that
    is linked to your account. The url is short enough that you can write it anywhere! The URL retains your privacy
    while making it easier for people to contact you regarding your lost item.</h3>

<h3>Foundit helps solve the following problems:</h3>
<ul>
    <li>Many people choose to put their phone number on items in case they are lost, what if you lose your phone?</li>
    <li>Many people resent going out of their way to return lost items, especially if it involves social interaction.</li>
    <li>Foundit offers a privacy layer, this way you don't have to label your items with sensitive information.</li>
    <li>Rather than changing contact information on items, Foundit will always link back to you.</li>
    <li>People would like to simply visit a website rather than go out of their way to make contact.</li>
    <li>If you are not available when they find it, they can leave you a message for more information.</li>
</ul>

<h3>Use Cases</h3>
<ul>
    <li><strong>Lost Pets</strong> - Using our product for your pet's collar will make it easier to find them. </li>
    <li><strong>Misplaced Cellphones</strong> - Cellphones are typically main points of contact for lost items, if your cellphone is lost the URL provides a safe fallback.</li>
    <li><strong>Vanished Electronics</strong> - Leave your laptop at class? Have it quickly returned.</li>
    <li><strong>Community Promotion</strong> - Universities can assign our product to incoming students so police and fellow peers can quickly return lost or stolen items on campus.</li>
    <li><strong>Notebooks and Textbooks</strong> - Everyone loses a notebook at some point. This time you'll get it back. </li>
</ul>
