<!--
<img src="/img/LogIn.png" alt="Login page mockup image" />
--!>

<h1>{{title}}</h1>
<p>Welcome back to {{title}}, {{name}}!</p>

<div>{{message}}</div><br>

<form method="post" action="/user/auth">
  Email: <input type="text" name="name"> <br>
  Password:  <input type="password" name="pass"> <br>
  <button>Login!</button>
</form>