

 		<a href="/user/about/">About</a>

 		<a href="/user/team/">Team</a>


<h1>Welcome to FoundIt!</h1>

<div>{{message}}</div><br>

<p>
<a href="/user/login/">Log in!</a></li><br>
<a href="/user/signup/">Sign up!</a></li>
</p>

<br><br> or <br><br>

<form method="get" action="/user/user-profile/">
  Enter ID here: <input type="text" name="uurl">
  <button>GO</button>
</form>

<br><br>