<!--
<img src="/img/SignUp.png" alt="Signup page mockup image" />
--!>

<a href="/user/splash">Home</a>

<h1>{{title}}</h1>
<p>Welcome to FoundIt!</p>
<p>Please enter the required information to register for your very own FoundIt page<br>
You will use your email/password combination to access your account</p>

<div>{{message}}</div><br>



<form method="post" action="/user/add">
  First name: <input type="text" name="fname"> <br>
  Last name: <input type="text" name="lname"> <br>
  Phone Number: <input type="text" name="phone"> <br>
  Email: <input type="text" name="email"> <br>
  Password:  <input type="password" name="password"> <br>
 <!-- Admin:
    <select name="admin">
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select> --!>
    <br>
  <button>Sign me up!</button>
</form>