<!--
<img src="/img/Home.png" alt="home/splash screen mockup image" />
 --!>

 		<a href="/about/">About</a>

 		<a href="/team/">Team</a>


<h1>Welcome to FoundIt!</h1>

<div>{{message}}</div><br>

<p>
<a href="/login/">Log in!</a></li><br>
<a href="/signup/">Sign up!</a></li>
</p>

<br><br> or <br><br>

<form method="post" action="/user/auth">
  Enter ID here: <input type="text" name="UID">
  <button>GO</button>
</form>

<br><br>