<a href="/">Home</a>

//IF ADMIN
<a href="/user/admin/">Admin Home</a>
<a href="/user/userhome/">User Home</a>
<a href="/user/logout">Logout</a>

//IF USER
<a href="/user/userhome/">User Home</a>
<a href="/user/logout">Logout</a>

<h1>Meet the Team</h1>

<h2>Get to know our engineers.</h2>
<h2>Total: ({{members.length}})</h2>
<ul>
  {{#each members}}
  <li><strong>{{this.fname}} {{this.lname}}</strong> - {{this.profile}}</li>
  {{/each}}
</ul>