<!--<img src="/img/a-user-id.png" alt="User profile mockup image" />--!>


{{#if isAdmin}}
<a href="/user/admin/">Admin Home</a>
{{/if}}

{{#if isLoggedIn}}
<a href="/user/logout">Logout</a>
<a href="/user/userhome/">User Home</a>
{{else}}
<a href="/">Home</a>
{{/if}}


<h1>Thanks for visiting my FoundIt page!</h1>
<p>Please contact me using the information provided below:</p>
<div>{{message}}</div><br>

<table>
  <tr>
    <td>
      Name:
    </td>
    <td>
      {{name}}
    </td>
  </tr>
  <tr>
    <td>
      Email:
    </td>
    <td>
      {{email}}
    </td>
  <tr>
  </tr>
</table>