
   /*-----------------------------|NAV BAR |-------------------------------*/
   /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      border-bottom: none;
    }

   /*-----------------------------| TOP PANE |-------------------------------*/
    /* Set height of the grid so .toppane can be 100% (adjust as needed) */
    .row.content {height: 200px;}

    /* Set gray background color and 100% height */
    .toppane{
      padding: 100px;
      background-color: #333333;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for leftpane and grid */
    @media screen and (max-width: 767px) {
      .toppane{
        height: auto;
        padding: 15px;
      }

      .row.content {height:auto;}
    }

/*-------------------------------| BUTTONS |-----------------------------------*/

.btn{
    width: 200px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.submitButton{
    color: white;
    background-color: #33CC99;
}

.submitButton:hover {
  background-color: black;
  color: #33CC99;
  letter-spacing: 8px;
}



/*-----------------------------------| TEXT |------------------------------------*/

h4{
    margin-bottom: 0;
    color: white;
}

.control-label{
    letter-spacing: 5px;
}

/*-----------------------------------| FOOTER |----------------------------------*/
footer{
    margin-top: 450px;
}


.form{
    padding-top: 20px;
}