
   /*-----------------------------| NAV BAR |-------------------------------*/

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      border-bottom: none;
    }

    /*-----------------------------| TOP PANE |-------------------------------*/
    /* Set height of the grid so .toppane can be 100% (adjust as needed) */
    .row.content {height: 500px;}

    /* Set gray background color and 100% height */
    .toppane{
      padding-top: 20px;
      background-color: #333333;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for leftpane and grid */
    @media screen and (max-width: 767px) {
      .toppane {
        height: auto;
        padding: 15px;
      }

      .row.content {height:auto;}
    }


/*-------------------------------| LOGO |-----------------------------------*/
    .logo{
        padding-top: 100px;
        padding-bottom: 60px;
    }

/*-------------------------------| BUTTONS |-----------------------------------*/

.buttons{
    padding: 10px;
    padding-bottom: 10%;
}

.buttons .btn{
    width: 400px;
    letter-spacing: 5px;
    color: white;
}

.loginButton:hover, .signupButton:hover {
  background-color: #333333;
  color: #33CC99;
  letter-spacing: 8px;
}

.loginButton{
    background-color: #33CC99;
}

.signupButton{
    background-color: black;
}

.idButton{
    color: black;
    background-color: transparent;
    border-color: black;
    font-size: 9px;
    letter-spacing: 5px;
}

.idButton:hover{
    color: white;
    border-color: #33CC99;
    letter-spacing: 6px;

}


/*-------------------------------| TEXT |-----------------------------------*/


h4, h5{
    margin-bottom: 0;
    color: white;
}

p{
    color: #555;
    margin-bottom: 0px;
    font-weight: bold;
}