   /*-----------------------------| NAV BAR |-----------------------------------*/
   /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      border-bottom: none;
    }

    /*----------------------------| TOP PANE |-----------------------------------*/
    /* Set height of the grid so .toppane can be 100% (adjust as needed) */
    .row.content {
        height: 250px;
        }

    /* Set gray background color and 100% height */
    .toppane{
      padding: 20px;
      background-color: #333333;
      height: 100%;

    }

    .banner{
      padding-left: 20%;
      padding-right: 20%;
      padding-bottom: 40px;

    }

    /* On small screens, set height to 'auto' for leftpane and grid */
    @media screen and (max-width: 767px) {
      .toppane, .lowpane {
        height: auto;
      }

      .row.content {height:auto;}
    }


    .toppane h1{
        text-transform: uppercase;
        letter-spacing: 7px;
        color: white;
    }

/*----------------------------| LOW PANE |------------------------------*/
.lowpane{
    margin-top: 50px;
}

 .lowpane h1{
    text-transform: uppercase;
    letter-spacing: 7px;
    color: black;
}



/*----------------------------| BOTTOM FORM |-----------------------*/

.form-control{
    margin-top: 0px;
    background: #f1f1f1;
}

/*--------------------------------| TEXT |---------------------------------------*/


.header{
    text-transform: uppercase;
    color: #33CC99;
    letter-spacing: 5px;

}

h1, h2, h3, h4, p{
    margin-bottom: 0;
}



h2{
    text-transform: uppercase;
    letter-spacing: 7px;
    color: black;
    font-weight: bold;
}


p{
    color: black;
    text-transform: none;

}

/*---------------------------------| BUTTON |-----------------------------*/


.button{
    margin-top: 40px;
    text-align: center;
}

.about{
    top-margin: 5px;
    background-color: transparent;
    width: 300px;
    letter-spacing: 5px;
    color: #f1f1f1;
    text-transform: uppercase;
    border-color: #262626;
    font-size: 12px;
}

.about:hover{
    border-color: white;
    background-color: transparent;
    color: #33CC99;
    text-decoration: none;
    letter-spacing: 7px;
}


.update{
    top-margin: 5px;
    background-color: #333333;
    width: 300px;
    letter-spacing: 5px;
    color: #f1f1f1;
    text-transform: uppercase;
    border-color: #262626;
    font-size: 12px;
}

.update:hover{
    border-color: white;
    background-color: #33CC99;
    color: black;
    text-decoration: none;
    letter-spacing: 7px;
}



/*---------------------------------| FORM |-----------------------------*/


.lowpane  .form-control{
    background-color: white;
    border-color: white;
    border-decoration: white;
    color: black;
}


.lowpane  .label{
    color: #33CC99;
}

.lowpane  .form-group{
    padding: 10px;
    padding-left: 30px;
    padding-right:30px;
    color: #33CC99;
    border-color: white;
    background-color: white;
}

.lowpane  .value{
   color: black;
   background-color: white;
}

.contactinfo{
    background-color: #f1f1f1;
}