   /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      border-bottom: none;
    }

    .navbar a:hover{
        letter-spacing: 7px;
    }

    /* Set height of the grid so .toppane can be 100% (adjust as needed) */
    .row.content {height: 500px;}
    .row.buttons {height: 200px;}

    /* Set gray background color and 100% height */
    .toppane{
      padding-top: 20px;
      background-color: #333333;
      height: 100%;
    }

    .logo{
        padding-top: 150px;
        padding-bottom: 15px;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #f1f1f1;
      color: #333333;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for leftpane and grid */
    @media screen and (max-width: 767px) {
      .toppane, .lowpane {
        height: auto;
        padding: 15px;
      }

      .row.content {height:auto;}
      .row.buttons {height: auto;}
    }

.buttons{
    padding: 10px;
    padding-bottom: 30px;
}


.buttons .btn{
    width: 400px;
}

.loginButton:hover, .signupButton:hover {
  background-color: #333333;
  color: #33CC99;
  letter-spacing: 7px;
}



.loginButton{
    color: white;
    background-color: #33CC99;
}

.signupButton{
    color: white;
    background-color: black;
     <!--#FF3300;-->
}

.idButton{
    color: black;
    background-color: transparent;
    border-color: black;
}

.idButton:hover{
    color: black;
    font-weight: bold;
    background-color: #555;
}



h4{
    margin-bottom: 0;
    color: white;
}

h5{
    margin-bottom: 0;
    color: white;
}

p{
    color: #555;
    margin-bottom: 0px;
    font-weight: bold;
}

.search{
    padding-top: 20px;
}

body{

    text-transform: uppercase;
    letter-spacing: 5px;
}